{% extends 'base.html' %}
{% block content %}

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Código</th>
        <th scope="col">Nombre</th>
        <th scope="col">Crédito</th>
        <th scope="col">Evento</th>
      </tr>
    </thead>
    <tbody>
      {% for curso in cursos %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{curso.codigo}}</td>
        <td>{{curso.nombre}}</td>
        <td>{{curso.credito}}</td>
        <td class="d-flex">
          <a href="{{url_for('editCurso',id=curso.id)}}" type="button" class="btn btn-primary">Editar</a>
          
          <form method="post" action="{{url_for('deleteCurso',id=curso.id)}}"  >
              <button type="submit" class="btn btn-danger">Delete</button>
          </form>
      </td>
      </tr>
      {% endfor %} 
    </tbody>
  </table>
{% endblock %}