{% extends 'base.html' %}
{% block content %}

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">DNI</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Sexo</th>
        <th scope="col">Fecha de Nacimiento</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for estudiante in estudiantes %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{estudiante.DNI}}</td>
        <td>{{estudiante.nombres}}</td>
        <td>{{estudiante.apellido}}</td>
        <td>{{estudiante.sexo}}</td>
        <td>{{estudiante.fechaNacimiento}}</td>
        <td class="d-flex">
          <a href="{{url_for('editEstudiante',id=estudiante.id)}}" type="button" class="btn btn-primary">Editar</a>
          <form method="post" action="{{url_for('deleteEstudiante',id=estudiante.id)}}"  >
              <button type="submit" class="btn btn-danger">Delete</button>
          </form>
      </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock %}